* {
    margin: 0;
    padding: 0;
  }
  
  main {
    width: 100%;
    overflow: hidden;
  }
  
  header nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid 1px white;
    align-items: center;
    color: white;
    background-color: #0005;
    padding: 12px;
  }
  
  header nav a img {
    width: 140px;
  }
  
  .logo {
    justify-content: end;
    margin: 4%;
  }

  #mobile {
    height: 50px;
    width: 50px;
    display: none;
  }
  
  .navbar-menu{
    display: flex;
    gap: 64px;
    margin-right: 30px;
  }
  
  .login,
  .menu {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .menu img {
    width: 20px;
  }
  
  .bar {
    width: 1px;
    background-color: white;
    height: 15px;
  }
  
  .large {
    height: 32px;
  }
  
  .active {
    color: rgb(198, 198, 198);
    
  }
  
  main img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top -300px right 0;
    

  }
  
  @media screen and (max-width: 600px) {
    #logo {
      display: none;
    }
    #mobile {
      display: block;
    }
  
    .login {
      display: none;
    }
  
    .menu a,
    .menu div {
      display: none;
    }
  
    main img {
      object-position: center;
    }
  }
  .searcher{
    position: relative;
    background-color: transparent;
  }

  .searcher input {
    background-color: transparent;
    height: 50%;
    width: 200px;
    border: rgb(210, 10, 10) solid 1px;
    border-radius: 10px;
    padding: 15px, 16px;
  }

  .searcher input ::placeholder {
    color: blue;
    
  }
   .lupa{
    position: absolute;
    width: 20px;
    right: 10px;
    top: 50%;
    transform: translate(-10px,-50px);
   }